*{
    box-sizing: border-box;
    position: relative;
}
a{
    text-decoration: none;
    font-family: Roboto
    color:#000;
}
html,body{
    height: 100%;
}
h1,h2,h3,p{
    margin: 0;
}
.wapper{
    height: 100%;
    background-color: #01e37f;
    overflow: hidden;
}
.card{
    width: 676px;
    height: 597px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border-radius: 10px;
    background-color: #fff;
}
.apple{
    position: absolute;
    width: 319px;
    height: 506px;
    transform: translate(-45px,45px);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
}
.mainproduct img{
    position: absolute;
    transform: translate(-50px,77px);

}
.mainproduct{
    background-color: #bdf149;
    height: 420px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
.subimg{
    height: 86px;
    padding-top: auto;
    padding-bottom: auto;
    justify-content:space-evenly;  
    display: flex
}
.subimg img{
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-top: 13px;
    border: 2px solid #989898;
    border-radius: 10px;
}
.info{
    transform: translate(322px,58px);
}
.info h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 24px;
   font-weight: 900;
}
.info h1 span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #cccccc;
}
.info h2{
    color: #ff3f40;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:24px;
}
.info h2 span{
    font-size: 72px;
    margin: 0;
    padding-left: 20px;
    }
.selce h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    color: #cccccc;
    padding-top: 20px;
    padding-bottom: 20px;
}
.selce img{
    width: 40px;
    height: 40px;
    margin-left: 10px ;
}
.picture01{
    border-radius: 5px;
    border: 1px solid #CCCC;
}
.Benefits h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 1.4px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 78px;
    color: #cccccc;
}
.Benefits h2{
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
}
.info .btn{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.79px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    background-color: #ff3f40;
    border-radius: 10px;

}
